*{
    margin: 0;
    padding: 0;
}

:root{
    --brown: #A8763E;
    --beige: #F7F3E3;
    --white: #ECF0F1;
    --barn_red:#6F1A07;
    --dark_brown:#2B2118;
    --font1:roboto;
    
}
/*header*/

.header{
    width: 100%;
    height: auto;
    padding: 20px;
}

.nav_header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--brown);
}


.menu_cont{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

.logo{
    width: 250px; height: auto;
    border-radius: 5px;
    margin: 10px;
}

.text_menu{
    font-size: 16px; 
    color: var(--white);
    margin-right: 20px;
    padding: 10px;
    text-decoration: none;
}

/*main*/
.main{
    background-color: var(--beige);
    display: flex;
    justify-content: center;
    align-items: center;
}

.services{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 80%;
    height: auto;
}

.img_cont{
    width: 50%;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text_cont{
    width: 50%;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img{
    object-fit: cover;
    width: 90%;
    height: 350px;
    border-radius: 5px;
}

.title{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: var(--dark_brown);
    font-size: 45px;
    padding: 15px;
}

.text{
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    color: var(--dark_brown);
    font-size: 20px;

}
/*button*/
.button{
    height: 40px;
    width: 150px;
    background-color: #6F1A07;
    border-radius: 15px;
    border: none;
    margin: 20px;
}

.text_button{
    text-align: center;
    text-decoration: none;
    color: var(--white);
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

/*footer*/

.foo{
    width: 100%;
    height: 170px;
    background-color: var(--brown);
    display: flex;
    justify-content: center;
    align-items: center;
}

.text_foo{
    text-align: center;
    color: var(--white);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

@media(max-width:800px){
    .nav_header{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .menu_cont{
        margin-top: 20px;
        margin: 0 15px 0 15px;
        text-align: center;
        font-size: 10px;
        flex-direction: column;
    }
    .services{
        flex-direction: column;
        width: 100%;
    }
    .img_cont{
        width: 100%;
        height: auto;
        margin-top: 30px;
    }
    .text_cont{
        width: 90%;
        height: auto;
    }
    .button{
        margin: 20px;
    }
}
